
<div class="modal banner" style="top:100px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="close" data-dismiss="modal" ng-click="onCancel()">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </div>
                </div>
                @*<img src="/Content/images/logo.png"/>*@
                <div class="row space4">
                    <div class="col-lg-12 text-center">
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-1" style="margin-top: 18px;
padding-right: 0;
padding-left: 35px;">
                                <img src="https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-08-64.png" />
                            </div>
                            <div class="col-lg-7">
                                <h1>Realt Maps</h1>
                            </div>
                        </div>
                        
                        
                        <span class="lead">Весь рынок недвижимости перед глазами</span>
                    </div>
                </div>
                
                <div class="row space1">
                    <div class="col-lg-12 text-center">
                        Наш email: <a href="mailto:support@realtmaps.info">support@realtmaps.info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>