<!DOCTYPE html>
<html ng-app="house" id="viewMap">
<head>
    <script>
        var pathPrefix = "/";
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Realt Maps — вся недвижимость перед глазами</title>
    <meta name="author" content="RealtMaps">
    <meta name="google" content="notranslate">
    <meta name="ROBOTS" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Вся недвижимость">
    <meta name="keywords" content="комнаты, квартиры, дома, дачи, земельные участки">
    <meta property="og:site_name" content="RealtMaps">
    <meta property="og:title" content="Realt Maps — вся недвижимость перед глазами">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="http://realtmaps.info/content/images/logo.png">
    <meta property="og:description" content="Найди для себя уникальную недвижимость легко и быстро.">
    <meta property="vk:title" content="Realt Maps — вся недвижимость перед глазами">
    <meta property="vk:description" content="Найди для себя уникальную недвижимость легко и быстро.">
    <meta property="vk:url" content="http://realtmaps.info">
    <meta property="vk:image" content="http://realtmaps.info/content/images/logo.png">
    <meta property="vk:app_id" content="4453731">
    <link rel="icon" href="http://realtmaps.info/content/images/logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="http://realtmaps.info/content/images/logo.png" type="image/x-icon" />
    @RenderSection("head", false)
    @*<script src="https://api-maps.yandex.ru/2.0.31/?load=package.full&lang=ru-RU" type="text/javascript"></script>*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic">
    <script>var model = {};</script>
</head>
<body>
    @RenderBody()
</body>
@RenderSection("scripts", false)
    <!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=26224152&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/26224152/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:26224152,lang:'ru'});return false}catch(e){}" /></a><!-- /Yandex.Metrika informer --><!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter26224152 = new Ya.Metrika({ id: 26224152, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true, ut: "noindex" }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
<noscript><div><img src="//mc.yandex.ru/watch/26224152?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</html>
