<!DOCTYPE html>
<html ng-app="house" id="viewMap">
<head>
    <script>
        var pathPrefix = "/";
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @*<title>Фиестомания &mdash; всё для создания праздника!</title>
        <meta name="author" content="Fiestomania">
        <meta name="google" content="notranslate">
        <meta name="ROBOTS" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Всё для организации праздников, свадеб, утренников, дней рождений, корпоративов. Добавляйте своё портфолио на сайте профессионалов в сфере праздничных услуг Фиестомания обратите внимание на себя и свое творчество. Приумножьте свою популярность!">
        <meta name="keywords" content="свадьбы, праздники, корпоративы, утренники, день рождения">
        <meta property="og:site_name" content="Фиестомания">
        <meta property="og:title" content="Фиестомания — всё для создания праздника!">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:image" content="http://fiestomania.ru/content/images/logo.png">
        <meta property="og:description" content="Всё для организации праздников, свадеб, утренников, дней рождений, корпоративов. Добавляйте своё портфолио на сайте профессионалов в сфере праздничных услуг Фиестомания обратите внимание на себя и свое творчество. Приумножьте свою популярность!">
        <meta property="vk:title" content="Фиестомания — всё для создания праздника!">
        <meta property="vk:description" content="Всё для организации праздников, свадеб, утренников, дней рождений, корпоративов. Добавляйте своё портфолио на сайте профессионалов в сфере праздничных услуг Фиестомания обратите внимание на себя и свое творчество. Приумножьте свою популярность!">
        <meta property="vk:url" content="http://fiestomania.ru">
        <meta property="vk:image" content="http://fiestomania.ru/content/images/logo.png">
        <meta property="vk:app_id" content="4453731">
        <link rel="icon" href="/Content/images/logo.png" type="image/x-icon">
        <link rel="shortcut icon" href="/Content/images/logo.png" type="image/x-icon">*@
    @RenderSection("head", false)
    @*<script src="https://api-maps.yandex.ru/2.0.31/?load=package.full&lang=ru-RU" type="text/javascript"></script>*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic">
    <script>var model = {};</script>
</head>
<body>
    @RenderBody()
</body>
@RenderSection("scripts", false)
</html>
