<div class="row space1">
    <div class="col-lg-12">
        <label>Описание</label>
        <textarea style="width: 100%;" ng-model="description" placeholder="Напише пару слов о вашей недвижимости..." rows="5"></textarea>
    </div>
</div>

