<div class="modal" ng-controller="NewAdvertController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form ng-submit="onSuccess(this)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="onCancel()">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Новое объявление</h4>
                </div>
                @Html.Partial("AddAdvert/_Step1")
                @Html.Partial("AddAdvert/_Step2")
                @*@Html.Partial("AddAdvert/_Step3")*@

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="onCancel()">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                        Отмена
                    </button>

                    <button type="button" class="btn btn-default" ng-hide="isFirstStep()" ng-click="back()">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Назад
                    </button>

                    <button type="button" class="btn btn-success" ng-hide="isLastStep()" ng-click="next()">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        Далее
                    </button>

                    <button type="submit" class="btn btn-success" ng-show="isLastStep()" ng-disable="loading">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        {{publishButtonLabel}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>