
<div class="row space1" ng-show="isRoomOrApartments(this)">
    <div class="col-lg-6">
        <label>Этаж</label>
        <input type="text" style="width: 100%; height: 30px;" ng-model="stage" placeholder="Укажите ваш этаж..." />
    </div>
    <div class="col-lg-6">
        <label>Этажей в доме</label>
        <input type="text" style="width: 100%; height: 30px;" ng-model="stageCount" placeholder="Укажите сколько всего этаже в доме..." />
    </div>
</div>