<div class="modal-body text-center" style="max-height: 500px; overflow: auto;" ng-show="step == 2" ng-file-drop>
    <div class="row space2">
        <div class="col-lg-12 space2" ng-show="showPhotoStepTitle()">
            <h1 style="font-size: 44px"><i class="glyphicon glyphicon-camera"></i></h1>
            <h3>&nbsp;Загрузите фотографию или две!</h3>
            Или три или больше! Гости любят фотографии, на которых видны особенности вашей недвижимости.
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <a class="btn btn-danger" ng-div-open-file="#file-uploader" ng-file-select>
                <i class="glyphicon glyphicon-camera"></i>
                &nbsp;Загрузить фотографию
            </a>
        </div>

        <input type="file" id="file-uploader" ng-file-select ng-hide="uploader.isHTML5" />
    </div>
    <div class="row">
        <div ng-repeat="item in uploader.queue" class="col-lg-3 img">
            <div class="thumbnail" ng-thumb="{ file: item.file, height: 100 }"></div>
            <button class="btn btn-default delete" style="position: absolute; top: 2px; right: 17px; " ng-click="item.remove()">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
    </div>
</div>
