.sidebar {
    top: 0;
    left: 0;
    bottom: -20px;
    box-shadow:         0 0 0 4px rgba(0,0,0, .05);
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.space1 {
    margin-bottom: 10px;
}

.space2 {
    margin-bottom: 20px;
}

.space3 {
    margin-bottom: 30px;
}

.space4 {
    margin-bottom: 40px;
}

.delete {
    display: none;
}

.img:hover .delete {
    display: block;
}

.sidebar-toggle {
    background: rgba(0,0,0, .05);
    border-left: solid 1px rgba(0,0,0, .1);
    bottom: 0;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 40px;
    z-index: 10;
    right: 0;
}

.sidebar-toggle:after {
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid transparent; 
    border-left-color: rgba(0,0,0, .1);
    content: '';
    left: 0;
    margin: -10px 0 0 14px;
    position: absolute;
    top: 50%;
}

.dark-white {
    background: #f9f9f9;
}

.animate-show-hide {
  -webkit-transition:all linear 0.20s;
  -moz-transition:all linear 0.20s;
  -ms-transition:all linear 0.20s;
  -o-transition:all linear 0.20s;
  transition:all linear 0.20s;
}

/*.animate-show-hide.ng-show {
  opacity:1;
}*/

.animate-show-hide.ng-hide {
  opacity:0;
}

.slider {
    width: 570px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    font-size: 32px;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
}

.arrow.next:hover {
    opacity: 1;
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #e6e6e6;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #a8a8a8;
    background-color: transparent;
}

.banner h1 {
    font-family: 'Lobster', cursive;
    font-size: 72px;
}

.banner .lead {
    font-size: 21px;
}