
<div class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form ng-submit="onSuccess(this)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="onCancel()">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">
                        <span ng-show="selectedAdvert.advertType == 'sell'">Продажа </span>
                        <span ng-show="selectedAdvert.advertType == 'rent'">Аренда </span>
                        недвижимости
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row space1">
                                <div class="col-lg-4">
                                    <span class="label label-warning" ng-show="selectedAdvert.advertType == 'sell'">Продажа</span>
                                    <span class="label label-info" ng-show="selectedAdvert.advertType == 'rent'">Аренда</span>
                                </div>
                                <div class="col-lg-8  text-right">
                                    <span ng-show="selectedAdvert.realtyType == 'room'">Комната</span>
                                    <span ng-show="selectedAdvert.realtyType == 'apartment'">Квартира</span>

                                    <span ng-show="selectedAdvert.objectType == 'firstHand'">(новостройка)</span>
                                    <span ng-show="selectedAdvert.objectType == 'secondHand'">(вторичка)</span>

                                    <span ng-show="selectedAdvert.objectType == 'house'">Дом</span>
                                    <span ng-show="selectedAdvert.objectType == 'countryHouse'">Дача</span>
                                    <span ng-show="selectedAdvert.objectType == 'townhouse'">Таун-хаус</span>
                                    <span ng-show="selectedAdvert.objectType == 'cottage'">Коттедж</span>
                                    <span ng-show="selectedAdvert.objectType == 'garage'">Гараж</span>
                                    <span ng-show="selectedAdvert.objectType == 'carplace'">Машиноместо</span>
                                    <span ng-show="selectedAdvert.objectType == 'hotel'">Отель</span>
                                    <span ng-show="selectedAdvert.objectType == 'office'">Коммерческая недв.</span>
                                    <span ng-show="selectedAdvert.objectType == 'general'">Свободного назнач.</span>
                                    <span ng-show="selectedAdvert.objectType == 'production'">Производственное пом.</span>
                                    <span ng-show="selectedAdvert.objectType == 'trade'">Торговая недвиж.</span>
                                    <span ng-show="selectedAdvert.objectType == 'warehouse'">Складское пом.</span>
                                </div>
                            </div>
                            
                            <div class="row space1" ng-show="selectedAdvert.rooms">
                                <div class="col-lg-4">Комнат</div>
                                <div ng-show="selectedAdvert.rooms == 'studio'"  class="col-lg-8 text-right">Студия</div>
                                <div ng-show="selectedAdvert.rooms == 'one'" class="col-lg-8 text-right">1-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'two'" class="col-lg-8 text-right">2-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'free'" class="col-lg-8 text-right">3-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'four'" class="col-lg-8 text-right">4-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'five'" class="col-lg-8 text-right">5-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'six'" class="col-lg-8 text-right">6-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'seven'" class="col-lg-8 text-right">7-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'eight'" class="col-lg-8 text-right">8-комнатная</div>
                                <div ng-show="selectedAdvert.rooms == 'moreThatNine'" class="col-lg-8 text-right">Девять и более</div>
                            </div>

                            <div class="row space1" ng-show="selectedAdvert.floor">
                                <div class="col-lg-4">Этаж</div>
                                <div class="col-lg-8 text-right">{{selectedAdvert.floor}}</div>
                            </div>
                            
                            <div class="row space1" ng-show="selectedAdvert.floorCount">
                                <div class="col-lg-5">Этажей всего</div>
                                <div class="col-lg-7 text-right">{{selectedAdvert.floorCount}}</div>
                            </div>

                            <div class="row space1" ng-show="selectedAdvert.square != 0">
                                <div class="col-lg-4">Площадь</div>
                                <div class="col-lg-8 text-right">
                                    {{selectedAdvert.square}}
                                    <span ng-show="selectedAdvert.realtyType != 'land'">кв. м.</span>
                                    <span ng-show="selectedAdvert.realtyType == 'land'">сот.</span>
                                </div>
                            </div>

                            <div class="row space1">
                                <div class="col-lg-4">
                                    Цена
                                </div>
                                <div class="col-lg-8 text-right">
                                    {{selectedAdvert.cost | currency}}
                                </div>
                            </div>
                            
                            <div class="row space2">
                                <div class="col-lg-4">
                                    Телефон
                                </div>
                                <div class="col-lg-8 text-right">
                                    <img ng-src="/home/showcontactphone?advertid={{selectedAdvert.id}}&height=16" />
                                </div>
                            </div>

                            <div class="row space1" ng-show="selectedAdvert.description" style="word-break: break-all; word-wrap: break-word;">
                                <div class="col-lg-12">
                                    <p>Описание</p>
                                    {{selectedAdvert.description}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <img src="/Content/images/defaulthouse.jpg?width=570&height=352" ng-hide="selectedAdvert.photos.length > 0" />
                            <div class="slider" ng-show="selectedAdvert.photos.length > 0">
                                <img ng-repeat="photo in selectedAdvert.photos" class="slide" data-ng-src="{{photo}}" data-ng-hide="!isCurrentSlideIndex($index)">
                                <a class="arrow prev" href="#" ng-click="nextSlide()">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                </a>
                                <a class="arrow next" href="#" ng-click="prevSlide()">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </a>
                                <nav class="nav">
                                    <div class="wrapper">
                                        <ul class="dots">
                                            <li class="dot" ng-repeat="photo in selectedAdvert.photos">
                                                <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                                                   ng-click="setCurrentSlideIndex($index);">image</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="onCancel()">
                        Закрыть
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>