<div class="row space1" ng-show="realtyType == 'apartments'">
    <div class="col-lg-12">
        <label>Вид объекта</label>
        <select style="width: 100%; height: 30px;" ng-model="objectType">
            <option value="">Неважно</option>
            <option value="new">Новостройка</option>
            <option value="resale">Вторичка</option>
        </select>
    </div>
</div>

<div class="row space1" ng-show="(realtyType == 'apartments')">
    <div class="col-lg-12">
        <label>Количество комнат</label>
        <select style="width: 100%; height: 30px;">
            <option value="">Неважно</option>
            <option value="studio">Студия</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="free">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="moreThatNine">более 9</option>
        </select>
    </div>
</div>
