<div class="row space1" ng-show="realtyType == 'rooms'">
    <div class="col-lg-12">
        <label>Комнат в квартире</label>
        <select style="width: 100%; height: 30px;">
            <option value="">{{emtyRealtyType}}</option>
            <option value="one">1</option>
            <option value="two">2</option>
            <option value="free">3</option>
            <option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
            <option value="seven">7</option>
            <option value="eight">8</option>
            <option value="moreThatNine">более 9</option>
        </select>
    </div>
</div>